{% extends "base1.html" %}

{% block content %}
<section class="container p-4 mb-5 form_data">
    <p class="lead text-center">Image Prediction</p>
        <hr>
        {% if msg %} 
        <div class="text-center my-2">
            <span class="badge text-bg-danger w-100 py-2">{{ msg }}</span>
        </div>  
        {% endif %}
            <div class="mb-2 container-sm">
                <label for="formFile" class="form-label lead">Select an image for prediction:</label>
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('predict') }}">
                        <input class="form-control" type="file" id="formFile" name="imagefile" required>
                            <button type="submit" class="btn btn-primary mt-2">Predict</button>
                    </form>
            </div>

            <hr>

            <div class="mb-2 container-sm text-center">
                {% if image_path %}
                <p class="lead">Predicted image</p>
                    <img src ="{{ url_for('static', filename='predicted/' + image_path) }}" class="img-fluid">
                {% else %}
                <p>No image selected!</p>
                {% endif %}
            </div>
</section>
{% endblock %}