{% extends "base.html" %}

{% block content %}
<section class="container p-4 mb-3 form_data">  
<form method="post" action="{{ url_for('register') }}">
  <section class="container text-center md">
    <h3>Register</h3>
    <p class="lead fs-5">Create an Account</p>
  </section>

  <hr>

  <div class="form-floating mb-3">
    <div class="row g-3">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fName" id="fName" required>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lName" id="lName" required>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" required>
  </div>

  <div class="text-center my-1">
    <span class="badge text-bg-danger w-100 py-2">{{ msg }}</span>
  </div>

  <div class="row mb-3">
    <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" id="inputPassword5" name="password" class="form-control" aria-describedby="passwordHelpBlock" required>
    </div>
  </div>

  <div class="mb-2 text-center">
    <button type="submit" class="btn btn-outline-success" value="Sign Up" name="signUp">Sign Up</button>
  </div>

  <hr>

  <div class="container text-center">
      Already Have an Account?
    <a href="{{ url_for('index') }}">
      <button class="btn btn-outline-primary btn-sm" type="button">Sign In</button>
    </a>
  </div>

</form>
</section>
{% endblock %}